body{
    background-color:bisque;
}
*{
    justify-items: center;
    margin-top:15px;
}
.full{
    width:250px;
    height:350px;
    border-radius:40px;
    box-shadow:black 0 0 15px;
    background-color:#CECECE;
}
#input{
    border-radius:15px;
    width: 200px;
    height:30px;
}
.btn{
    border-radius: 50px;
    width:38px;
    height:38px;
    margin: 6px;
    cursor: pointer;
}
.btn:hover{
    background-color:black;
    color:white;
    box-shadow:aqua 0 0 5px;
}
.btns{
    border-radius: 50px;
    width:38px;
    height:38px;
    margin: 6px;
    cursor: pointer;
}
.btns:hover{
    background-color:black;
    color:white;
    box-shadow:aqua 0 0 15px;
}
